*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/*버튼, 마진, 폰트사이즈*/

body{
    background-color: #FAFAFA;
}

.btn1{
    margin: 10px 0;
    background-color: #B2DFFC;
    height: 30px;
    color: white;
    border-radius: 6px;
    border: 0;
    font-weight: 700;
}

/* mt, mb*/

.mt10{
    margin-top: 10px;
}

.mt15{
    margin-top: 15px;
}

.mb10{
    margin-bottom: 10px;
}

.a-link-facebook{
    color: #385185;
    font-weight: 700;
    text-decoration: none;
}

.a-link-forget{
    text-decoration: none;
    font-size: 13px;
    color: black;
}

.a-link-join{
    color: #0095F6;
    font-weight: 700;
    text-decoration: none;
}

.a-link-footer{
    color: #00376B;
    font-size: 12px;
    font-weight: 900;
    text-decoration: none;
}

.footer__copy{
    color: #8E8E8E;
    font-size: 12px;
    font-weight: 900;
}