* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* header{
    background-color: #FAFAFA;
    padding: 0 250px;
} */

/* body{
    background-color: #FAFAFA;
    padding: 0 250px;
} */

.line{
    background-color: rgba(182, 179, 179, 0.87);
    opacity: 0.3;
}

.font01 {
    font-size: 17px;
}

.font01 > a {
    text-decoration: none;
    color: black;
}

.font02 {
    font-size: 14px;
    font-weight: 900;
}

body {
    background-color: #FAFAFA;
    margin-top: 80px;
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

a {
    text-decoration: none;
    color: #00376b;
}
.btn1 {
    margin: 10px 0;
    background-color: #b2dffc;
    height: 30px;
    color: white;
    border-radius: 6px;
    border: 0;
    font-weight: 700;
}

.textmiddle {
    vertical-align: middle;
}
/* mt, mb */
.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.mt15 {
    margin-top: 15px;
}
.mt20 {
    margin-top: 20px;
}
.mt30 {
    margin-top: 20px;
}
.fs12 {
    font-size: 12px;
}
.fs14 {
    font-size: 14px;
}

.fs15 {
    font-size: 15px;
}

.fw700 {
    font-weight: 700;
}

.ft15 {
    font-size: 15px;
}
.a-link-facebook {
    color: #385185;
    font-weight: 700;
    text-decoration: none;
}

.a-link-forget {
    text-decoration: none;
    font-size: 13px;
    color: black;
}
.a-link-join {
    text-decoration: none;
    color: #0095f6;
    font-weight: 700;

}

.center {
    width: 70%;
    margin: 0 auto;
}

.dropdirect hr {
    background-color: rgb(192, 192, 192);
}